/* Style sheet header */
#logo{width:170px;height:60px;float:left;display:block;margin:30px 0 25px 20px;background:url("../imgs/logo.jpg") left top no-repeat;text-indent:-9999px;}
#logotelefonica{width:150px;height:60px;float:left;display:block;margin:30px 0 25px 20px;background:url("../imgs/logo.jpg") left top no-repeat;text-indent:-9999px;}
#logoprefeitura{width:150px;height:60px;float:left;display:block;margin:30px 0 25px 20px;background:url("../imgs/logo.jpg") left top no-repeat;text-indent:-9999px;}
#logoestado{width:150px;height:60px;float:left;display:block;margin:30px 0 25px 20px;background:url("../imgs/logo.jpg") left top no-repeat;text-indent:-9999px;}
div#lay_extra{width:180px;float:left;}
.right{float:right;}
.left{float:left;}
.clear{clear:both;}
.clear_right{clear:right;}
.box_text{width:458px;margin-top:0;padding:10px;text-align:justify;background-color:#fff;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}

